<div class="col-9">
  <div class="row">
    <div class="col-12 mt-2">
      <h3> U2 Admin Portal</h3>
    </div>
    <div class="col-10 mb-2">
      This documentation and tool set will cover the capabilities of the API. This tool will allow access to the API assuming you have been given valid access information have an account to use.
      <br>
      <span style="font-size:12px;">Version 0.0.1</span>
    </div>
  </div>
  <div class="col-10 mt-4">
    <hr>
  </div>
  <div class="row mb-3">
    <div class="col-2">
      <h6>Authorization Token:</h6>
    </div>
    <div class="col-8" style="overflow-y:auto">
      <h6>{{token.accessToken}}</h6>
    </div>
  </div>
  <div class="row mb-3" *ngFor="let ag of adminAbilities.auths">
    <div class="col-12 mt-2 mb-2">
      <h4>{{ag.placeHolder}} - {{ag.description}}</h4>
    </div>
    <div class="col-12">{{ag.description}}</div>
    <div class="col-6 mt-2 align-items-center">
      <pre style="background-color:black;height:50px;border-radius:5px;padding-top:15px;padding-left:15px;"><span style="color:white;">{{ag.route}}</span></pre>
    </div>
    <div class="col-12 mt-2">
      <h5>Header(s)</h5>
    </div>
    <div class="col-12 ml-3 mb-4">
      <div class="row">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Field</h6>
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Type</h6>
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Description</h6>
        </div>
      </div>
      <div class="row" *ngFor="let h of ag.headers">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-info">
          {{h.field}}
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-info">
          {{h.type}}
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-info">
          {{h.description}}
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <h5>Parameter(s)</h5>
    </div>
    <div class="col-12 ml-3">
      <div class="row">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Field</h6>
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Type</h6>
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Description</h6>
        </div>
      </div>
      <div class="row" *ngFor="let p of ag.params">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-info">
          {{p.field}}
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-info">
          {{p.type}}
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-info">
          {{p.description}}
        </div>
      </div>
    </div>

    <div class="col-12 align-items-center d-flex mt-2" *ngFor="let i of ag.inputs">
      <div class="row">
        <div class="col-3 d-flex align-items-center">{{i.placeHolder}}</div>
        <div class="col-9">
          <input type="{{i.type}}" placeholder="{{i.placeHolder}}" [(ngModel)]="i.value" class="form-control" style="width:275px;">
        </div>
      </div>
    </div>

    <div class="col-8 mt-2">
      <button class="btn btn-primary" (click)="handleAuths(ag)">Submit</button>
    </div>
    <div class="col-5 mt-2 code-output ml-3" id="{{ag.name}}Div" style="display:none;">
      <div class="row">
        <div class="col-12 d-flex justify-content-end mt-1 get-code" (click)="closeData(ag.name)">close</div>
      </div>
      <pre class="codes"><span class="get-code"  id="{{ag.name}}Pre"></span></pre>
    </div>
    <div class="col-10 mt-4">
      <hr>
    </div>
  </div>

  <div class="row mb-3" *ngFor="let ag of adminAbilities.gets">
    <div class="col-12 mt-2 mb-2">
      <h4>{{ag.placeHolder}} - {{ag.description}}</h4>
    </div>
    <div class="col-12">{{ag.description}}</div>
    <div class="col-6 mt-2 align-items-center">
      <pre style="background-color:black;height:50px;border-radius:5px;padding-top:15px;padding-left:15px;"><span style="color:white;">{{ag.route}}</span></pre>
    </div>
    <div class="col-12 mt-2">
      <h5>Header(s)</h5>
    </div>
    <div class="col-12 ml-3 mb-4">
      <div class="row">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Field</h6>
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Type</h6>
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Description</h6>
        </div>
      </div>
      <div class="row" *ngFor="let h of ag.headers">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-info">
          {{h.field}}
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-info" style="overflow-x:auto">
          {{h.type}}
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-info">
          {{h.description}}
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" (click)="getData(ag.url, ag.name)">Submit</button>
    </div>
    <div class="col-5 mt-2 code-output ml-3" id="{{ag.name}}Div" style="display:none;">
      <div class="row">
        <div class="col-12 d-flex justify-content-end mt-1 get-code" (click)="closeData(ag.name)">close</div>
      </div>
      <pre class="codes"><span class="get-code"  id="{{ag.name}}Pre"></span></pre>
    </div>
    <div class="col-10 mt-4">
      <hr>
    </div>
  </div>
  <div class="row mb-3" *ngFor="let ag of adminAbilities.posts">
    <div class="col-12 mt-2 mb-2">
      <h4>{{ag.placeHolder}} - {{ag.description}}</h4>
    </div>
    <div class="col-12">{{ag.description}}</div>
    <div class="col-6 mt-2 align-items-center">
      <pre style="background-color:black;height:50px;border-radius:5px;padding-top:15px;padding-left:15px;"><span style="color:white;">{{ag.route}}</span></pre>
    </div>
    <div class="col-12 mt-2">
      <h5>Header(s)</h5>
    </div>
    <div class="col-12 ml-3">
      <div class="row">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Field</h6>
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Type</h6>
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Description</h6>
        </div>
      </div>
      <div class="row" *ngFor="let h of ag.headers">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-info">
          {{h.field}}
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-info">
          {{h.type}}
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-info">
          {{h.description}}
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <h5>Parameter(s)</h5>
    </div>
    <div class="col-12 ml-3">
      <div class="row">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Field</h6>
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Type</h6>
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-header">
          <h6>Description</h6>
        </div>
      </div>
      <div class="row" *ngFor="let p of ag.params">
        <div class="col-2 text-center justify-content-start d-flex mt-2 parameter-info">
          {{p.field}}
        </div>
        <div class="col-3 text-center justify-content-start d-flex mt-2 parameter-info">
          {{p.type}}
        </div>
        <div class="col-4 text-center justify-content-start d-flex mt-2 parameter-info">
          {{p.description}}
        </div>
      </div>
    </div>

    <div class="col-1 align-items-center d-flex">{{ag.params.type}}</div>
    <div class="col-12 align-items-center d-flex mt-2" *ngFor="let i of ag.inputs">
      <div class="row">
        <div class="col-3 d-flex align-items-center">{{i.txt}}</div>
        <div class="col-9">
          <input type="{{i.type}}" placeholder="{{i.placeHolder}}" [(ngModel)]="ag.id" class="form-control" style="width:275px;">
        </div>
      </div>
    </div>
    <div class="col-8 mt-2">
      <button class="btn btn-primary" (click)="updateData(ag)">Submit</button>
    </div>
    <div class="col-4 mt-2 code-output ml-3" id="{{ag.name}}Div" style="display:none;">
      <div class="row">
        <div class="col-12 d-flex justify-content-end mt-1 get-code" (click)="closeData(ag.name)">close</div>
      </div>
      <pre class="codes"><span class="get-code" id="{{ag.name}}Pre"></span></pre>
    </div>
  </div>
  <div class="col-10 mt-4">
    <hr>
  </div>
</div>
<div class="col-1"></div>