.codes{
    max-height:350px;
    overflow:auto
}

.parameter-header{
    background-color: #F5F5F5;
    border: solid 1px #e0e0e0 ;
}

.parameter-info{
    margin: 0px !important; 
    border: solid 1px #e0e0e0 ;
}
