/* You can add global styles to this file, and also import other style files */
.data-border{
    border: solid 1px #494D5F;
}

.data-heading{
    border-bottom: solid 1px #494D5F;
}

.code-output{
    background-color: #494D5F;

}

.get-code{
    color: white;
}
