<!-- <div class="container-fluid">
  <div class="row header align-items-center">
    <div class="col-12">
      <h5>{{state.getPageName()}}</h5>
    </div>
  </div>
  <div class="row">
    <app-admin-panel></app-admin-panel>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row header align-items-center">
    <div class="col-12">
      <h5>{{state.getPageName()}}</h5>
    </div>
  </div>

  <!-- <app-admin-panel></app-admin-panel> -->
  <!-- <app-company-setup></app-company-setup> -->
  <app-demo></app-demo>


</div>